.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button {
  display: inline-block;
  border: 2px solid white;
  font-family:Georgia;
}

.App-header img {
  max-width: 600px;
  max-height: 600px;
  border: 5px dashed white;
}

.App-header h1 {
  font-family: Georgia;
}

.App-header h2 {
  font-family: Georgia;
}

.App-header h3 {
  font-family: Georgia;
}

.App-header p {
  font-family: Georgia;
}

.App-header ul {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.4em;
  font-family: Georgia;
  min-width: 400px;
  box-shadow: 0 0 20px black;
}

.App-header li {
  background-color: darkslateblue;
  color: ivory;
  text-align: center;
}

.App-header form {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.4em;
  font-family: Georgia;
  min-width: 400px;
  box-shadow: 0 0 20px black;
}
.App-header table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.4em;
  font-family: Georgia;
  min-width: 400px;
  box-shadow: 0 0 20px black;
}

.App-header thead tr {
  background-color: darkslateblue;
  color: ivory;
  text-align: center;
}

.App-header th, .App-header td{
  padding: 12px 15px;
}

.App-header tbody tr {
  border-bottom: 1px solid black;
}

.App-header tbody tr:nth-of-type(even) {
  background-color:lightseagreen;
}

.Links {
  display: inline-block;
  border: 0.1em solid darkslateblue;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: Georgia;
  padding: 5px;
  
}

